/* Universal styles */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Shelf styles */

.shelf {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

label,
input,
button {
    display: block;
}

.book-info {
    border: 0.5em solid rgb(0, 178, 131);
    border-radius: 2rem;
    padding: 1rem;
    width: 500px;
}

.read-book {
    background-color: green;
}

.not-read-book {
    background-color: red;
}

button {
    background-color: white;
    color: rgb(0, 178, 131);
    font-weight: bold;
    border: 0.5em solid rgb(0, 178, 131);
    border-radius: 2rem;
    padding: 0.5em;
    margin: 0.5rem;
}

button:hover {
    background-color: lightseagreen;
    color: rgb(0, 82, 60);
}

dialog {
    margin: 50px auto;
    padding: 32px;
}

dialog p {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input[type = "radio"],
form > button {
    display: inline;
}

.exit-buttons {
    display: flex;
    justify-content: space-evenly;
}
